<div class="relative ">
    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true"  space-between="30"
    centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="true">
        @for(img of imgs; track $index){
            <swiper-slide>
                <!-- <progressive-image [imageUrl]="img" [imageSmallUrl]="imgsSmall[$index]"/> -->
                <img [src]="img" />
            </swiper-slide>

            
        }
    
    </swiper-container>

    
    <div class="absolute top-0 left-0 z-10 w-full h-full bg-gray-800/40 ">
        <div class="h-full w-full flex items-center ">
            <my-container>
                <div class=" flex items-center justify-center lg:justify-start">
                                <div class="mx-auto md:mx-0  text-white py-5 h-fit w-[90%] sm:w-[80%] lg:w-[600px] rounded-2xl space-y-6 flex flex-col justify-center text-center md:text-start md:justify-start">
                                    <h2 class="text-3xl md:text-5xl lg:text-5xl font-bold leading-tight text-shadow-sm text-shadow-gray-600">A new vision for your facility with <span class="text-(--my-sec-bg)">SECO GROUPE</span></h2>
                                    <p class="text-md lg:text-2xl text-white leading-relaxed ">At SECO GROUPE INC, we don't just see a building; we see an opportunity to create a smarter, more resilient, and connected space that delivers real value.</p>
                                    <!-- <button class="w-full bg-(--my-sec-bg) hover:bg-orange-400 text-white px-4 py-2 min-[395px]:p-4  md:px-8 md:py-4 rounded-lg text-lg font-semibold transition-all duration-300 transform hover:scale-105 min-[395px]:whitespace-nowrap cursor-pointer">Let's build something better, together</button> -->
                                    <button class=" w-full text-sm sm:text-md md:text-2lg lg:text-2xl pulse-button bg-(--my-sec-bg) whitespace-nowrap">Let's build something better, together</button>
                                </div>
                </div>
            </my-container>
        </div>
    </div>
                    
</div>