

<nav class="navbar " [ngStyle]="myStyle">
  <my-container>
    <div class="flex justify-between items-center p-3 lg:px-0">
        <div class="navbar-left">
          <img [src]="config.logo" alt="logo" class="logo" />
        </div>

        <ul class="navbar-links desktop-menu">
          @for(link of links; track $index){
              <li>
                  <link-item [link]="link" hoverTextColor="var(--my-sec-bg)" [textColor]="config.textColor"/>
              </li>
          }
            <li>
              <p-select [options]="languages" [(ngModel)]="selectedLanguage"  optionLabel="name" placeholder="Select a Language" class="w-full md:w-30" />
            </li>
        </ul>
    </div>
  </my-container>

  @if(config.showSearch){
    <div class="navbar-right">
        <input type="text" [(ngModel)]="searchValue" placeholder="Search..." />
        <button (click)="handleSearch()">🔍</button>
    </div>
  }

  <div class="mobile-toolbar " #toolbar>
    <img [src]="config.logo" alt="logo" class="logo" />

    <!-- <button (click)="onClickMenuBtn">
        Menu
    </button> -->
    <hamburger-btn [callback]="onClickMenuBtn" [option]="mobileMenu"/>

    <ng-template #btnContent>
              Menu
    </ng-template>
  </div>

  <ul class="mobile-menu" #mobileMenu>
    @for(link of links; track $index){
        <li>
            <link-item [link]="link" hoverTextColor="var(--my-sec-bg)" textColor="red"/>
        </li>

    }
    <li>
      <p-select [options]="languages"   [(ngModel)]="selectedLanguage" optionLabel="name" placeholder="Select a Language" class="w-full md:w-30" />
    </li>
  </ul>
    
</nav>