    <!-- <swiper-container
      slides-per-view="3"
      space-between="spaceBetween"
      centered-slides="true"
      [pagination]="{ hideOnClick: true }"
      [breakpoints]="{
        '768': {
          slidesPerView: 3,
        },
      }"
      (swiperprogress)="onProgress($any($event))"
      (swiperslidechange)="onSlideChange()"
    >
      <swiper-slide>Slide 1</swiper-slide>
      <swiper-slide>Slide 2</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
    </swiper-container> 
    navigation="true"
    -->

    <div class="relative  w-full h-full">
           <!-- @for(image of images; track $index){
            
              <img [src]="image" class="absolute object-cover w-full h-full fade-animation" alt="slide">
            
            
          } -->
              <img [src]="images[0]" loading="lazy" opacity="0" class="absolute object-cover w-full h-full fade-animation" alt="slide">
              <img [src]="images[1]" loading="lazy" opacity="0" class="absolute object-cover w-full h-full fade-animation" alt="slide">
              <img [src]="images[2]" loading="lazy"  class="absolute object-cover w-full h-full fade-animation" alt="slide">

    </div>

    <!-- <swiper-container class="mySwiper" autoplay="true" loop="true" navigation="true">
      @for(image of images; track $index){
        
        <swiper-slide>
          <img [src]="image" alt="slide">
        </swiper-slide>
        
        
      }
      
    </swiper-container> -->

    