<div class="carousel">
                    <div class="card h-[500px] overflow-hidden col-span-6 rounded-xl bg-cover bg-center " style="background-image: url('https://images.unsplash.com/photo-1583037189850-1921ae7c6c22?q=80&amp;w=775&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.1.0&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
                        <div class="text-white text-center w-full h-full flex flex-col gap-2 items-start justify-end py-5 bg-gradient-to-t from-black to-transparent">
                            <div class="p-4 rounded-xl text-start">
                                <h2 class="text-4xl font-bold text-shadow-xs  mb-2">Resorts &amp; Casinos</h2>
                                <p class="text-shadow-xs "> Premium services tailored for hospitality and gaming venues, ensuring exceptional guest experiences and operational excellence. </p>
                            </div>
                        </div>
                    </div>

                    <div class="card h-[500px] overflow-hidden col-span-6 lg:col-span-4 md:col-span-3 rounded-xl bg-cover bg-center " style="background-image: url('https://images.unsplash.com/photo-1758691463203-cce9d415b2b5?q=80&amp;w=1032&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.1.0&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
                        <div class="text-white text-center w-full h-full flex flex-col gap-2 items-start justify-end py-5 bg-gradient-to-t from-black to-transparent">
                            <div class="px-4 py-2 rounded-xl text-start">
                                <h2 class="text-4xl font-bold text-shadow-xs  mb-2">Healthcare</h2>
                                <p class="text-shadow-xs "> Specialized solutions for medical facilities, prioritizing safety, compliance, and patient-centered care environments. </p>
                            </div>
                        </div>
                    </div>

                    <div class="card h-[500px] overflow-hidden col-span-6 lg:col-span-2 md:col-span-3 rounded-xl bg-cover bg-center" style="background-image: url(https://plus.unsplash.com/premium_photo-1721296251780-51cbf620c505?q=80&amp;w=872&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.1.0&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
                        <div class="text-white text-center w-full h-full flex flex-col gap-2 items-start justify-end py-5 bg-gradient-to-t from-black to-transparent">
                            <div class="px-4 py-2 rounded-xl text-start">
                                <h2 class="text-4xl font-bold  mb-2">Senior Living</h2>
                                <p class=""> Compassionate care and support services designed to enhance quality of life
                                    for senior residents and their families. </p>
                            </div>
                        </div>
                    </div>

                    <div class="card h-[500px] overflow-hidden col-span-6 rounded-xl bg-cover bg-center" style="background-image: url(https://images.unsplash.com/photo-1614969263964-f381e32b337d?q=80&amp;w=1031&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.1.0&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
                        <div class="text-white text-center w-full h-full flex flex-col gap-2 items-start justify-end py-5 bg-gradient-to-t from-black to-transparent">
                            <div class="px-4 py-2 rounded-xl text-start">
                                <h2 class="text-4xl font-bold  mb-2">Multi-Family, HOA &amp; Commercial Buildings</h2>
                                <p class=""> Comprehensive management and
                                        maintenance for residential communities and commercial properties of all sizes. </p>
                            </div>
                        </div>
                    </div>

                    <div class="card h-[500px] overflow-hidden col-span-6 lg:col-span-2 md:col-span-3 rounded-xl bg-cover bg-center" style="background-image: url(https://plus.unsplash.com/premium_photo-1661962354730-cda54fa4f9f1?q=80&amp;w=870&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.1.0&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
                        <div class="text-white text-center w-full h-full flex flex-col gap-2 items-start justify-end py-5 bg-gradient-to-t from-black to-transparent">
                            <div class="px-4 py-2 rounded-xl text-start">
                                <h2 class="text-4xl font-bold  mb-2">Aviation</h2>
                                <p class=""> Professional services for airports and aviation facilities, maintaining high standards
                                of safety and efficiency. </p>
                            </div>
                        </div>
                    </div>

                    <div class="card h-[500px] overflow-hidden col-span-6 lg:col-span-4 md:col-span-3 rounded-xl bg-cover bg-center" style="background-image: url(https://images.unsplash.com/photo-1517048676732-d65bc937f952?q=80&amp;w=870&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.1.0&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
                        <div class="text-white text-center w-full h-full flex flex-col gap-2 items-start justify-end py-5 bg-gradient-to-t from-black to-transparent">
                            <div class="p-4 rounded-xl text-start shadow-xl">
                                <h2 class="text-4xl font-bold  mb-2">Country Clubs</h2>
                                <p class=""> Elite services for private clubs, delivering excellence in amenities, grounds
                                management, and member satisfaction. </p>
                            </div>
                        </div>
                    </div>

                    <div class="card h-[500px] overflow-hidden col-span-6 rounded-xl bg-cover bg-center" style="background-image: url(/img/services/new/compressed/staffing_foods_worker_1440.webp), url(/secogroupe3.0/img/services/new/compressed/staffing_foods_worker_1440.webp)">
                        <div class="text-white text-center w-full h-full flex flex-col gap-2 items-start justify-end py-5 bg-gradient-to-t from-black to-transparent">
                            <div class="px-4 py-2 rounded-xl text-start">
                                <h2 class="text-4xl font-bold  mb-2">Specialized Staffing Solutions for Food Manufacturing</h2>
                                <p class=""> SECO Group understands the unique demands of food production facilities, where quality,
                                    safety, and efficiency are paramount. We provide reliable staffing solutions tailored
                                    specifically for food manufacturing plants, supplying skilled workers who are trained in food
                                    safety protocols, HACCP standards, and Good Manufacturing Practices (GMP). Whether
                                    you need production line workers, packaging specialists, quality control inspectors,
                                    sanitation crews, or warehouse personnel, our pre-screened candidates are ready to meet
                                    your operational needs. We handle the complexities of compliance, background checks, and
                                    safety certifications, allowing you to focus on maintaining production schedules and meeting
                                    customer demands. With flexible staffing options—from temporary surge support during
                                    peak seasons to temp-to-hire and direct placement—SECO Group becomes your trusted
                                    partner in building a workforce that keeps your food plant running smoothly, safely, and
                                    efficiently 
                                </p>
                            </div>
                        </div>
                    </div>

</div>