
   @import "tailwindcss";
   @plugin "tailwindcss-primeui";
   @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
        
 html{
  overflow-x: hidden;
 }
   
   :root{
            --my-prim-bg: #0d6efd;
            --my-sec-bg: #fbad19;
            --my-hover-prim-bg: #0b5dd9;
            --my-hover-sec-bg: #d59113;
        }
        body {
            font-family: 'Inter', sans-serif;
            scroll-behavior: smooth;
            width: 100%;
        }
        .hero-gradient {
            background: linear-gradient(135deg, #f5f7fa 0%, #e4e8f0 100%);
        }
        .service-card:hover {
            transform: translateY(-8px);
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        }
        .nav-link {
      position: relative;
    }

    .nav-link.active{
      color: var(--my-sec-bg);
    }
    .nav-link::after {
      content: "";
      position: absolute;
      width: 0%;
      height: 2px;
      left: 0;
      bottom: -2px;
      background: var(--my-sec-bg); /* Bleu Tailwind (blue-500) */
      transition: width 0.3s ease;
    }
    .nav-link:hover::after {
      width: 100%;
    }

         @keyframes marquee {
            0% { transform: translateX(0%); }
            100% { transform: translateX(-50%); }
        }
        .marquee {
            display: flex;
            width: max-content;
            animation: marquee 20s linear infinite;
        }


    .auto-rotate{
      animation: auto-rotate-animation;
      animation-timeline: view();
    }


    @keyframes auto-rotate-animation {
      from{
        transform: rotate(0deg);
      }

      to{
        transform: rotate(360deg);
      }
    }

    .auto-show{
      animation: text-appear both;
      animation-timeline: view();
      animation-range: entry 20% cover 100vh;
    }

    @keyframes text-appear {
      from{
        opacity: 0;
        transform: translateY(100px);
      }
      to{
        opacity: 1;
        transform: translateY(0);
      }
    }

    .image-reveal{
      animation: image-reveal-animation both;
      animation-timeline: view(10% 5%);
    }

    @keyframes image-reveal-animation {
      from{
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
      }
      to{
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
      }
    }

    .fade-up{
      animation: fade-up-animation;
      animation-timeline: view()
    }

    @keyframes fade-up-animation {
      from{
        opacity: 0%;
        transform: translateY(10px) scale(0.5);
      }
      to{
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    }
  